body {
    background : rgb(2, 0, 80);
    color : white;
    margin: 20px;
    font-family: "Anek Devanagari", variable;
    margin-bottom: 100px;
}

header {
    border: solid 3px rgb(14, 34, 248);
    padding: 8px;
    font-size: 20px;
}

.calling-main {
    background : rgb(2, 59, 47);
    color : white;
    border: solid 3px rgb(8, 92, 78);
    padding: 15px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 2px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

text {
    font-size: 20px;
    margin-left: 18px;
}

img{
    height: 200px;
}

.label-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.label {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.label-videos img {
    opacity: 0.5;
    height: 200px;
}

.label-videos img:hover {
    opacity: 1.0;
    border: 1px solid green
}

.label h2 {
    color: rgb(13, 109, 10);
}